*{margin: 0; padding: 0; overflow: hidden;}
#visit
{
    position: absolute;
    color: #00ff16;
    background: #000000;
    z-index: 100;
}
#main
{
    height: 100vh;
    width: 100vw;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bg_liner,#bg_radial
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    font-family: cursive;
}
#bg_radial
{
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
}
#content
{
    position: absolute;
    height: 80vh;
    width: 80vw;
    z-index: 3;
    backdrop-filter: blur(10px);
    border-radius: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#content h1,#content p,#content h2{width: 70vw; padding-bottom: 4vh;}
#content h1,#content h2{text-align: center;}
#content a
{
    padding: 0.1vh 0.3vh 0.3vh 0.3vh;
    border-radius: 0.5vh;
    background: #000;
    color: #fff;
}
